@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel




<div class="backgr oxd-table-row oxd-table-row--with-border">
    <div class="oxd-table-cell oxd-padding-cell" style="flex: 1 1 0%;">
        <div>@ViewBag.IteamSeach.TenKhachHang</div>
    </div>
    <div class="oxd-table-cell oxd-padding-cell" style="flex: 1 1 0%;">
        <div>@ViewBag.IteamSeach.MaSoThe</div>
    </div>
    <div class="oxd-table-cell oxd-padding-cell" style="flex: 1 1 0%;">
        <div>@ViewBag.IteamSeach.MaPin</div>
    </div>
    <div class="oxd-table-cell oxd-padding-cell" style="flex: 1 1 0%;">
        <div>@ViewBag.IteamSeach.NgayMoThe</div>
    </div>
    <div class="oxd-table-cell oxd-padding-cell" style="flex: 1 1 0%;">
        <div>@ViewBag.IteamSeach.NgayHetHan</div>
    </div>

    <div class="oxd-table-cell oxd-padding-cell" style="flex: 1 1 0%;">
        <div>@ViewBag.IteamSeach.TinhTrangThe</div>
    </div>
    <div class="oxd-table-cell oxd-padding-cell" style="flex: 1 1 0%;">
        <div>@ViewBag.IteamSeach.SoTaiKhoan</div>
    </div>
    <div class="oxd-table-cell-actions" style="flex: 1 1 0%;">
        <a class="oxd-icon-button" asp-controller="CreditCard" asp-action="EditCardATM">   <i class="fa-solid fa-circle-info">  </i></a>
        <a class="oxd-icon-button" asp-controller="CreditCard" asp-action="EditCardATM">  <i class="fa-solid fa-pen-to-square"></i></a>

    </div>
</div>
