@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel

@model KhachHangViewModel
@{
    Layout = "_LayoutMain";
    var custommerList = ViewData["j"] as IEnumerable<KhachHangViewModel>;
}
<body>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Danh sách khách hàng</strong>
                <div class="card-search col col-md-8" style="margin-right:100px">
                    <div class="input-group">
                        <input type="text" id="search-input" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-info" id="search-button">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-stats order-table ov-h" id="CustomerList">

                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:15%">Mã</th>
                            <th style="width:20%">Tên</th>
                            <th style="width:20%%">Giới Tính</th>
                            <th style="width:15%%">Email</th>
                            <th style="width:10%">SDT</th>
                            <th style="width:15%;text-align:left">Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in custommerList)
                        {

                            <tr>
                            <tr>
                                <td>@item.CCCD</td>
                                <td>@item.TenKH</td>
                                <td>@item.GioiTinh</td>
                                <td>@item.Email</td>
                                <td>@item.SoDienThoai</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Customer" asp-action="DetailsCustomer" asp-route-CCCD="@item.CCCD">
                                            
                                        <i class="far fa-eye"></i>
                                    </a>

                                    <a class="btn btn-success" asp-controller="Customer" asp-action="Edit" asp-route-CCCD="@item.CCCD">
                                        <i class="fas fa-edit"></i>
                                    </a>

                                    <a class="btn btn-danger" asp-controller="Customer" asp-action="Delete" asp-route-CCCD="@item.CCCD">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="table-stats order-table ov-h" id="SearchCustomerID">
            </div><!-- /.table-stats -->
        </div>
    </div>
    <script src="/js/ListCustomer.js"></script>
</body>