<div class="table-stats order-table ov-h">
    <table class="table">
        <thead>
            <tr>
                <th style="width:10%">Mã</th>
                <th style="width:15%">Tên</th>
                <th style="width:15%">NgayTao</th>
                <th style="width:15%%">Email</th>
                <th style="width:10%">SDT</th>
                <th style="width:15%%">Giới Tính</th>
                <th style="width:20%;text-align:left">Địa chỉ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.IteamSeach.CCCD</td>
                <td>@ViewBag.IteamSeach.TenKH</td>
                <td>@ViewBag.IteamSeach.NgayTao</td>
                <td>@ViewBag.IteamSeach.Email</td>
                <td>@ViewBag.IteamSeach.SoDienThoai</td>
                <td>@ViewBag.IteamSeach.GioiTinh</td>
                <td>@ViewBag.IteamSeach.DiaChi</td>
            </tr>
        </tbody>
    </table>
</div>
