﻿﻿@using Web_CNPMNC_DA_HeThongATM.Models.ViewModel

@{
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
	var listRole = ViewBag.listRole;
}
@model RoleViewModel

<body>
<div>
	<!-- Start: BreadCrumbsPartial -->
	@*@Html.Partial("_BreadCrumbsPartial")*@
	<!-- End: BreadCrumbsPartial -->

	<div class="content" style="background: #F1F2F7;">
		<div class="animated fadeIn">
			<div class="row">
				<!-- Danh sách -->
				<div class="col-lg-8">
					<div class="card">
						<div class="card-header" style="display: flex; align-items: center; justify-content: space-between">
							<b>Danh sách Chức vụ </b>

							<!-- Tìm kiếm -->
							<form class="search-form">
								<input asp-for="name" class="search-input" placeholder="Nhập tên chức vụ">

								<a class="search-btn">
									<i class="fa fa-search"></i>
								</a>
							</form>

							<!-- Thêm -->
								<a asp-controller="Staff" asp-action="Decentralization" id="ThemChucVu" class="btn btn-sm color-white btn-size" style="background: #007BFF !important">
								<i class="fa fa-info-circle"></i>
								&nbsp;Thêm
							</a>
						</div>
						
						<div class="table-stats order-table ov-h" style="width: 100%; overflow-x: scroll">
							<!-- Hiển thị danh sách -->
							<table class="table" style="overflow-x: scroll">

								<!-- Tiêu đề -->
								<thead>
									<tr>
										<th>STT</th>
										<th>Tên</th>
										<th>Tác vụ</th>
									</tr>
								</thead>

								<!-- Render -->
								<tbody>
									@for (int i = 0; i < listRole.Count; i++)
									{
										<tr>
											<td>@(i + 1).</td>

										

											<td style="white-space: nowrap">
												<span>@listRole[i].TenChucVu</span>
											</td>

											<td style="color: #fff !important; white-space: nowrap">
												<a asp-controller="Staff" asp-action="DetailsRole" asp-route-key="@listRole[i].Key" class="btn btn-sm color-white btn-size" style="background: #17A2B8 !important">
													<i class="fa fa-info-circle"></i>
													&nbsp;Xem
												</a>
												<a asp-controller="Staff" asp-action="EditRole" asp-route-key="@listRole[i].Key" class="btn btn-sm color-white btn-size" style="background: #00C292 !important">
													<i class="fa fa-edit"></i>
													&nbsp;Sửa
												</a>
												<a asp-controller="Staff" asp-action="DeleteRole" asp-route-key="@listRole[i].Key" class="btn btn-sm color-white btn-size" style="background: #FB9678 !important">
													<i class="fa fa-trash-o"></i>
													&nbsp;Xóa
												</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div> <!-- /.table-stats -->
					</div>
				</div>

				<!-- Form -->
				<div class="col-lg-4">
						@*****************************************************************@
						<div class="alert alert-danger" id="trungten" role="alert" style="position:relative;display:none">
							<h4 class="alert-heading">Tên chức vụ bị trùng!</h4>
							<p>Tên chức vụ bạn nhập đã bị trùng, vui lòng kiểm tra lại!</p>
							<hr>
							<button id="notfound" class="btn btn-danger" onclick="handlerNotFound()">Đã hiểu</button>
						</div>

						@********************************************************************@
					<!-- Thêm -->
					@if (Model.Key == null )
					{
						<div id="ThemTable" class="form-add-container">
							<div class="card">
								<form id="form-add" asp-controller="Staff" asp-action="CreateRole" method="post" enctype="multipart/form-data">
									<div class="card-header" style="display: flex; align-items: center; justify-content: space-between">
										<b>Thêm chức vụ</b>

										<!-- Lưu -->
										<button type="submit" id="form-add-btn" class="btn btn-sm color-white btn-size" style="background: #007BFF !important">
											<i class="fa fa-save"></i>
											&nbsp;Lưu
										</button>
									</div>

									<!-- Form nhập -->
									<div class="card-body">
										<div class="form-group">
											<label for="cc-payment" class="control-label mb-1">Tên chức vụ</label>
											<input asp-for="name" id="cc-payment" type="text" class="form-control" placeholder="Nhập tên chức vụ">
											<span class="text-danger" asp-validation-for="@Model.name"></span>
										</div>
									</div>
								</form>
							</div>
						</div>
					}

					<!-- Sửa - Chi tiết -->
					@if (Model.Key != null)
					{
						<div  class="form-edit-container">
							<div class="card">
								<form id="form-edit" asp-controller="Staff" asp-action="EditRole" method="post">
									<div class="card-header" style="display: flex; align-items: center; justify-content: space-between">
										<b>@ViewBag.titleAction</b>

										<!-- Lưu -->
										<button type="submit" id="form-edit-btn" class="btn btn-sm color-white btn-size" style="background: #007BFF !important">
											<i class="fa fa-save"></i>
											&nbsp;Lưu
										</button>
									</div>

									<!-- Form nhập -->
									<div class="card-body">
										<div class="form-group">
											<label for="cc-payment" class="control-label mb-1">Key</label>
											<input type="text" class="form-control" readonly value="@Model.Key" asp-for="Key">
										</div>

										<div class="form-group">
											<label for="cc-payment" class="control-label mb-1">Tên chức vụ</label>
											<input asp-for="name" value="@Model.name" type="text" class="form-control" placeholder="Nhập tên chức năng">
											<span class="text-danger" asp-validation-for="name"></span>
										</div>

									
									</div>
								</form>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

	<script>
		
		function ThemChucVu (){
			document.getElementById("ThemTable").style.display= "block";
		}
		document.getElementById("ThemChucVu").addEventListener("click",ThemChucVu);
		if(@ViewBag.Check === "False"){
			document.getElementById("trungten").style.display = "none";
		}
		if (@ViewBag.Check === "True"){
			document.getElementById("trungten").style.display = "block";
		}
		function handlerNotFound(){
			document.getElementById("trungten").style.display = "none";
		}
	
	</script>
</body>