@model Web_CNPMNC_DA_HeThongATM.Models.NhanVien

@{
    ViewBag.Title = "Danh sách nhân viên";
}


<h2>HIỂN THỊ DANH SÁCH NHÂN VIÊN</h2>
<li>Name: @Model.name</li>
<li>BIRTH: @Model.birth</li>
<li>STREET: @Model.email</li>
<li>EMAIL: @Model.email</li>
<li>BRANCH: @Model.branch</li>
<li>POSITION: @Model.position</li>
<li>PASSWORD: @Model.password</li>
