@using Web_CNPMNC_DA_HeThongATM.Models.ClassModel
@model Dictionary<string, NhanVien>
@{
    Dictionary<string, NhanVien> danhSachNhanVien = ViewBag.danhSachNhanVien;
}
@{
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var filteredData = danhSachNhanVien.Where(pair => pair.Key != "temp").ToDictionary(pair => pair.Key, pair => pair.Value);
}



 <div class="card">
     <div class="card-header">
       <strong class="card-title">DANH SÁCH NHÂN VIÊN</strong>
     </div>
       <div class="card-body">
            <table class="table">
                 <thead>
                   <tr>
                    <th scope="col">Họ tên nhân viên</th>
                    <th scope="col">Năm sinh</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Email</th>
                    <th scope="col">chi nhánh</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Mật khẩu</th>
                    <th scope="col">Thao tác</th>
                   </tr>
                 </thead>
                 <tbody>
                   @foreach(var kvp in filteredData)
                   {
                       string key = kvp.Key;
                       NhanVien nhanVien = kvp.Value;

                       <tr> 
                           <td>@nhanVien.TenNhanVien</td>
                           <td>@nhanVien.NgaySinh</td>
                           <td>@nhanVien.DiaChi</td>
                           <td>@nhanVien.Email</td>
                           <td>@nhanVien.ChiNhanh</td>                     
                           <td>@nhanVien.ChucVu</td>
                           <td>@nhanVien.MatKhau</td>

                           <td>
                            <a href="@Url.Action("Edit", "Staff", new { editKey = @key})" class="btn btn-primary">Sửa thông tin</a>
                            <a href="@Url.Action("DeleteStaff", "Staff", new { DeleteKey = @key})" class="btn btn-danger">Xóa</a>
                           </td>
                       </tr> 

                   }
                 </tbody>
            </table>
       </div>
 </div>